Web References/com.stocktakr/POSItemHandler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stocktakr.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://stocktakr.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://stocktakr.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="is_error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="localItems" type="tns:ArrayOfLocalItem" />
          <s:element minOccurs="0" maxOccurs="1" name="localStocktakeTransactions" type="tns:ArrayOfLocalStocktakeTransaction" />
          <s:element minOccurs="0" maxOccurs="1" name="localPurchaseOrders" type="tns:ArrayOfLocalPurchaseOrder" />
          <s:element minOccurs="0" maxOccurs="1" name="localReceivedGoodsOrders" type="tns:ArrayOfLocalReceivedGoodsOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalItem" nillable="true" type="tns:LocalItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="supplier_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cost_price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="sale_price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="is_static" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="modified_datetime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalStocktakeTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalStocktakeTransaction" nillable="true" type="tns:LocalStocktakeTransaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalStocktakeTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="person" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stocktake_datetime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalPurchaseOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalPurchaseOrder" nillable="true" type="tns:LocalPurchaseOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalPurchaseOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="purchaseorder_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="supplier_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="person" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="order_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="itemList" type="tns:ArrayOfLocalPurchaseOrderItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalPurchaseOrderItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalPurchaseOrderItem" nillable="true" type="tns:LocalPurchaseOrderItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalPurchaseOrderItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalReceivedGoodsOrder">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalReceivedGoodsOrder" nillable="true" type="tns:LocalReceivedGoodsOrder" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalReceivedGoodsOrder">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="receivedgoodsorder_id" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="supplier_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="person" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="order_datetime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="itemList" type="tns:ArrayOfLocalReceivedGoodsOrderItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalReceivedGoodsOrderItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalReceivedGoodsOrderItem" nillable="true" type="tns:LocalReceivedGoodsOrderItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalReceivedGoodsOrderItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrReplaceItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compressedItems" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="replaceAll" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrReplaceItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOrReplaceItemsResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateSuppliers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="suppliers" type="tns:ArrayOfLocalSupplier" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfLocalSupplier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalSupplier" nillable="true" type="tns:LocalSupplier" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalSupplier">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="supplier_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateSuppliersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateSuppliersResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStocktakeTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStocktakeTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStocktakeTransactionsResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStocktakeTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStocktakeTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteStocktakeTransactionsResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPurchaseOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPurchaseOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPurchaseOrdersResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePurchaseOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeletePurchaseOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeletePurchaseOrdersResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedGoodsOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetReceivedGoodsOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetReceivedGoodsOrdersResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReceivedGoodsOrders">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteReceivedGoodsOrdersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteReceivedGoodsOrdersResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrReplaceItemsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrReplaceItems" />
  </wsdl:message>
  <wsdl:message name="UpdateOrReplaceItemsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrReplaceItemsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateSuppliersSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateSuppliers" />
  </wsdl:message>
  <wsdl:message name="UpdateSuppliersSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateSuppliersResponse" />
  </wsdl:message>
  <wsdl:message name="GetStocktakeTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStocktakeTransactions" />
  </wsdl:message>
  <wsdl:message name="GetStocktakeTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStocktakeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteStocktakeTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteStocktakeTransactions" />
  </wsdl:message>
  <wsdl:message name="DeleteStocktakeTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteStocktakeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrders" />
  </wsdl:message>
  <wsdl:message name="GetPurchaseOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetPurchaseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="DeletePurchaseOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:DeletePurchaseOrders" />
  </wsdl:message>
  <wsdl:message name="DeletePurchaseOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:DeletePurchaseOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="GetReceivedGoodsOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:GetReceivedGoodsOrders" />
  </wsdl:message>
  <wsdl:message name="GetReceivedGoodsOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:GetReceivedGoodsOrdersResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteReceivedGoodsOrdersSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteReceivedGoodsOrders" />
  </wsdl:message>
  <wsdl:message name="DeleteReceivedGoodsOrdersSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteReceivedGoodsOrdersResponse" />
  </wsdl:message>
  <wsdl:portType name="POSItemHandlerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <wsdl:input message="tns:UpdateOrReplaceItemsSoapIn" />
      <wsdl:output message="tns:UpdateOrReplaceItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSuppliers">
      <wsdl:input message="tns:UpdateSuppliersSoapIn" />
      <wsdl:output message="tns:UpdateSuppliersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <wsdl:input message="tns:GetStocktakeTransactionsSoapIn" />
      <wsdl:output message="tns:GetStocktakeTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStocktakeTransactions">
      <wsdl:input message="tns:DeleteStocktakeTransactionsSoapIn" />
      <wsdl:output message="tns:DeleteStocktakeTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrders">
      <wsdl:input message="tns:GetPurchaseOrdersSoapIn" />
      <wsdl:output message="tns:GetPurchaseOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeletePurchaseOrders">
      <wsdl:input message="tns:DeletePurchaseOrdersSoapIn" />
      <wsdl:output message="tns:DeletePurchaseOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetReceivedGoodsOrders">
      <wsdl:input message="tns:GetReceivedGoodsOrdersSoapIn" />
      <wsdl:output message="tns:GetReceivedGoodsOrdersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReceivedGoodsOrders">
      <wsdl:input message="tns:DeleteReceivedGoodsOrdersSoapIn" />
      <wsdl:output message="tns:DeleteReceivedGoodsOrdersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POSItemHandlerSoap" type="tns:POSItemHandlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://stocktakr.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://stocktakr.com/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <soap:operation soapAction="http://stocktakr.com/UpdateOrReplaceItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSuppliers">
      <soap:operation soapAction="http://stocktakr.com/UpdateSuppliers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <soap:operation soapAction="http://stocktakr.com/GetStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStocktakeTransactions">
      <soap:operation soapAction="http://stocktakr.com/DeleteStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrders">
      <soap:operation soapAction="http://stocktakr.com/GetPurchaseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePurchaseOrders">
      <soap:operation soapAction="http://stocktakr.com/DeletePurchaseOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedGoodsOrders">
      <soap:operation soapAction="http://stocktakr.com/GetReceivedGoodsOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReceivedGoodsOrders">
      <soap:operation soapAction="http://stocktakr.com/DeleteReceivedGoodsOrders" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POSItemHandlerSoap12" type="tns:POSItemHandlerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://stocktakr.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://stocktakr.com/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <soap12:operation soapAction="http://stocktakr.com/UpdateOrReplaceItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateSuppliers">
      <soap12:operation soapAction="http://stocktakr.com/UpdateSuppliers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <soap12:operation soapAction="http://stocktakr.com/GetStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStocktakeTransactions">
      <soap12:operation soapAction="http://stocktakr.com/DeleteStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPurchaseOrders">
      <soap12:operation soapAction="http://stocktakr.com/GetPurchaseOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeletePurchaseOrders">
      <soap12:operation soapAction="http://stocktakr.com/DeletePurchaseOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetReceivedGoodsOrders">
      <soap12:operation soapAction="http://stocktakr.com/GetReceivedGoodsOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReceivedGoodsOrders">
      <soap12:operation soapAction="http://stocktakr.com/DeleteReceivedGoodsOrders" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POSItemHandler">
    <wsdl:port name="POSItemHandlerSoap" binding="tns:POSItemHandlerSoap">
      <soap:address location="http://stocktakr.com/services/POSItemHandler.asmx" />
    </wsdl:port>
    <wsdl:port name="POSItemHandlerSoap12" binding="tns:POSItemHandlerSoap12">
      <soap12:address location="http://stocktakr.com/services/POSItemHandler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>