Web References/com.stocktakr/POSItemHandler.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://stocktakr.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://stocktakr.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://stocktakr.com/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnection">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TestConnectionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TestConnectionResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ItemResponse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="is_error" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="errorMessage" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="localItems" type="tns:ArrayOfLocalItem" />
          <s:element minOccurs="0" maxOccurs="1" name="localStocktakeTransactions" type="tns:ArrayOfLocalStocktakeTransaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalItem" nillable="true" type="tns:LocalItem" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="cost_price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="sale_price" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double" />
          <s:element minOccurs="1" maxOccurs="1" name="is_static" type="s:boolean" />
          <s:element minOccurs="1" maxOccurs="1" name="modified_datetime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ArrayOfLocalStocktakeTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="LocalStocktakeTransaction" nillable="true" type="tns:LocalStocktakeTransaction" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LocalStocktakeTransaction">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="product_code" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="product_barcode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="quantity" type="s:double" />
          <s:element minOccurs="0" maxOccurs="1" name="person" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="stocktake_datetime" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="UpdateOrReplaceItems">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="compressedItems" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="replaceAll" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateOrReplaceItemsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateOrReplaceItemsResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStocktakeTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetStocktakeTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetStocktakeTransactionsResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStocktakeTransactions">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="storeID" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteStocktakeTransactionsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteStocktakeTransactionsResult" type="tns:ItemResponse" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapIn">
    <wsdl:part name="parameters" element="tns:TestConnection" />
  </wsdl:message>
  <wsdl:message name="TestConnectionSoapOut">
    <wsdl:part name="parameters" element="tns:TestConnectionResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateOrReplaceItemsSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateOrReplaceItems" />
  </wsdl:message>
  <wsdl:message name="UpdateOrReplaceItemsSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateOrReplaceItemsResponse" />
  </wsdl:message>
  <wsdl:message name="GetStocktakeTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:GetStocktakeTransactions" />
  </wsdl:message>
  <wsdl:message name="GetStocktakeTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:GetStocktakeTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteStocktakeTransactionsSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteStocktakeTransactions" />
  </wsdl:message>
  <wsdl:message name="DeleteStocktakeTransactionsSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteStocktakeTransactionsResponse" />
  </wsdl:message>
  <wsdl:portType name="POSItemHandlerSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <wsdl:input message="tns:TestConnectionSoapIn" />
      <wsdl:output message="tns:TestConnectionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <wsdl:input message="tns:UpdateOrReplaceItemsSoapIn" />
      <wsdl:output message="tns:UpdateOrReplaceItemsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <wsdl:input message="tns:GetStocktakeTransactionsSoapIn" />
      <wsdl:output message="tns:GetStocktakeTransactionsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteStocktakeTransactions">
      <wsdl:input message="tns:DeleteStocktakeTransactionsSoapIn" />
      <wsdl:output message="tns:DeleteStocktakeTransactionsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="POSItemHandlerSoap" type="tns:POSItemHandlerSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://stocktakr.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap:operation soapAction="http://stocktakr.com/TestConnection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <soap:operation soapAction="http://stocktakr.com/UpdateOrReplaceItems" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <soap:operation soapAction="http://stocktakr.com/GetStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStocktakeTransactions">
      <soap:operation soapAction="http://stocktakr.com/DeleteStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="POSItemHandlerSoap12" type="tns:POSItemHandlerSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://stocktakr.com/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TestConnection">
      <soap12:operation soapAction="http://stocktakr.com/TestConnection" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrReplaceItems">
      <soap12:operation soapAction="http://stocktakr.com/UpdateOrReplaceItems" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetStocktakeTransactions">
      <soap12:operation soapAction="http://stocktakr.com/GetStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteStocktakeTransactions">
      <soap12:operation soapAction="http://stocktakr.com/DeleteStocktakeTransactions" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="POSItemHandler">
    <wsdl:port name="POSItemHandlerSoap" binding="tns:POSItemHandlerSoap">
      <soap:address location="http://stocktakr.com/services/POSItemHandler.asmx" />
    </wsdl:port>
    <wsdl:port name="POSItemHandlerSoap12" binding="tns:POSItemHandlerSoap12">
      <soap12:address location="http://stocktakr.com/services/POSItemHandler.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>